#preload{
	position: fixed;
	background-color: #030101;
	height: 100%;
	width: 100%;
	z-index: 220;
}

.wait{
	display: none;
}
.pace .pace-progress {
	background: #cb120e;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 2px;

	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}

.pace-inactive {
	display: none;
}

.toplayer{
	height: 100%;
	width:  100%;
	position: fixed;
	z-index: 200;
	-webkit-box-shadow:inset 0 0 120px 10px #000000;
	box-shadow:inset 0 0 120px 10px #000000;
}

.master-text{
    font-size:3em;
	font-weight: bolder;
	text-shadow: 0 0 6px #000;
}
.slave-text{
	font-size: 1.2em;
	font-weight: lighter;
	color: #000;
	margin-top: 20px;
}

.text-area{
	text-align: center;

}
